*{

    padding: 0;
    margin: 0;
}
/*estilos barra de navegacion*/
.barra_nav_header{
    height: 83px;
    width: 100%;
    background-color: antiquewhite;
    
}

.barra_nav_header .barra_nav_nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}